  #root1{
    width:100vw;
    height: 80vh;
    background-color: #282c34;
    color:aliceblue;
    &>div:nth-child(1){
      color:aliceblue;
    }
    &>div:nth-child(2){
      color:bisque;
    }
    &>div:nth-child(3){
      color:red;
    }
  }

  @mixin sizeColor ($color,$z-index){
    width:100vw;
    height:100vh;
    background-color: #0810204f;
    color:$color;
    font-size: 16px;
    z-index: $z-index;
    position: absolute;
    left:0;
    top: 80vh;
  }
  

  #root2{
    width: 100vw;
    height: 100vh;
    background-color: #0d51da41;
    &>div:nth-child(1){
      @include sizeColor(white,6);
      &>div{
        position: relative;
        top:100px;
        left:100px;
      }
    }
    &>div:nth-child(2){
      @include sizeColor(red,5);
    }
    &>div:nth-child(3){
      @include sizeColor(orange,4);
    }
    &>div:nth-child(4){
      @include sizeColor(yellow,3);
    }
    &>div:nth-child(5){
      @include sizeColor(green,2);
    }
  } 